/********************** Mobile *********************/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ff5722;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 1rem;
  font-weight: 700;
  top: 1rem;
  color: #3a405a;
}

.lista {
  text-align: center;
}

.lista li {
  list-style: none;
}

.lista button {
  width: 200px;
  padding: 20px;
  margin: 5px 10px;
  background: #f9dec9;
  border: none;
  cursor: pointer;
  transition: letter-spacing 0.3s;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 2px;
}

.lista button:hover,
.lista button:active {
  letter-spacing: 8px;
}
.lista button:focus {
  outline: none;
}

/******************  tablets hasta 768px ******************/
@media (min-width: 481px) {
  h1 {
    margin: 2rem 0;
    font-size: 2.5em;
  }
  .lista button {
    width: 300px;
    padding: 30px;
    margin: 10px 20px;
    font-size: 1.25em;
    letter-spacing: 4px;
  }

  .lista button:hover,
  .lista button:active {
    letter-spacing: 10px;
  }
}

/***********  screens & laptops & el resto ***********/
@media (min-width: 769px) {
  h1 {
    margin: 3rem 0;
    font-size: 3em;
  }

  .lista button {
    width: 400px;
    padding: 35px;
    margin: 20px 30px;
    letter-spacing: 6px;
  }

  .lista button:hover,
  .lista button:active {
    letter-spacing: 12px;
  }
}
