body {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  background-color: cornflowerblue;
  padding: 1rem;
}
form input[type],
form select,
form a {
  margin: 0.5rem 0;
}

a {
  color: darkslategrey;
  font-size: 14px;
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: cornflowerblue;
  padding: 1rem;
  margin-bottom: 0;
}
.container h1 {
  text-transform: uppercase;
  text-align: center;
}
#perfil label {
  font-weight: bold;
}

#editarUsuarios {
  display: none;
  margin: 0.5rem;
}

#logout {
  margin: 0.5rem;
}

.input-group {
  display: flex;
  align-items: center;
  margin: 0 0 0.5rem 0;
}

#admin {
  padding-right: 1rem;
}

#table {
  width: auto;
  background: #f0f0f0;
  border-collapse: collapse;
}

#table td,
#table th {
  border: 1px solid #646262;
  padding: 5px;
  text-align: center;
  border-collapse: collapse;
}

#table th {
  text-transform: uppercase;
  font-size: 14px;
  padding: 0.75rem 1rem;
}
