body {
  justify-content: center;
  background-color: #deeaee;
  margin-top: 1rem;
}
.container {
  justify-content: center;
}

h1 {
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}
.buttons-group {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 400px;
}

.card {
  max-width: 400px;
  margin: 2rem auto 1rem auto;
}
.card label {
  font-weight: bold;
}

.btn {
  width: 132px;
  height: 38px;
  text-align: center;
}

#editarUsuarios {
  display: none;
}

#form-register,
#form-editar {
  width: 400px;
  margin: 0 auto 1rem auto;
}

#login {
  width: 400px;
  justify-content: center;
}

#form-editar .form-group,
#form-register .form-group {
  display: flex;
  justify-content: space-between;
}

.radio-group {
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-group input {
  margin-left: 3rem;
  align-items: center;
}

#boton-nuevo {
  margin-bottom: 1rem;
}
#boton-nuevo a {
  text-decoration: none;
}
